<!DOCTYPE html>
<html id="html">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>PDF</title>
    <style type="text/css" media="print">
        @page {
            size: landscape;
            padding: 10px;
        }

        body {
            writing-mode: tb-rl;
        }

        #kotak {
            padding-left: 120px;
            padding-right: 60px;


        }
    </style>

</head>

<body>
    <center>
        <p id="kotak">
            <font size="7"><b>LAPORAN PEMBUAT AKTA OLEH PPAT</b></font>
        </p>
        <p id="kotak">
            <font size="7"><b>BULAN JANUARI TAHUN 2020</b></font>
        </p>
        <br>
    </center>
    <table>
        <tr>
            <th>
                <table>
                    <tr width="100px">
                        <th align="left">
                            <font size="4"><b> Nama PPAT</b></font>
                        </th>
                        <th align="left" colspan="2">
                            <font size="4"><b>: YOAN BUDIYANTO,S.H.,M.Kn.</b></font>
                        </th>
                    </tr>
                    <tr>
                        <th align="left">
                            <font size="4"><b> Alamat</b></font>
                        </th>
                        <th align="left" colspan="3">
                            <font size="4"><b>: Jalan Raya Surabaya – Situbondo KM 134, Telp. 0335-771781 </b></font>
                        </th>
                    </tr>
                    <tr>

                        <th align="center" colspan="4">
                            <font size="4"><b>PAITON - PROBOLINGGO Jawa Timur (67291 )
                                </b></font>
                        </th>
                    </tr>

                    <tr>
                        <th align="left">
                            <font size="4"><b>NPWP</b></font>
                        </th>
                        <th align="left" colspan="2">
                            <font size="4"><b>: 76.706.253.2-625.000</b></font>
                        </th>
                    </tr>
                    <tr>
                        <th align="left">
                            <font size="4"><b>Daerah Kerja </b></font>
                        </th>
                        <th align="left" colspan="2">
                            <font size="4"><b>: KABUPATEN PROBOLINGGO</b></font>
                        </th>
                    </tr>

                </table>
            </th>

            <th>
                <table>
                    <table>
                        <tr width="100px">
                            <th align="left">
                                <font size="4"><b>Kepada Yth,</b></font>
                            </th>
                        </tr>
                        <tr>
                            <th align="left">
                                <font size="4"><b> 1. Kepala Kantor Pertanahan Kabupaten Probolinggo. </b></font>
                            </th>
                        </tr>
                        <tr>
                            <th align="left">
                                <font size="4"><b>2. Kepala Kantor Pelayanan Pajak Pratama Probolinggo.
                                    </b></font>
                            </th>
                        </tr>
                        <tr>
                            <th align="left">
                                <font size="4"><b>3. Kepala Kantor Wilayah BPN Propinsi Jawa Timur.
                                    </b></font>
                            </th>
                        </tr>
                        <tr>
                            <th align="left">
                                <font size="4"><b>4. Kepala Dinas Pendapat Kabupaten Probolinggo.
                                    </b></font>
                            </th>
                        </tr>
                    </table>
                </table>
            </th>


    </table>

    <br>
    <table border="1">

        <tr>
            <th rowspan="2">
                <font size="2">NO URUT
            </th>
            <th>
                <font size="2">NOMOR</font>
            </th>
            <th>
                <font size="2">TANGGAL</font>
            </th>
            <th rowspan="2">
                <font size="2">BENTUK PEMBUATAN HUKUM</font>
            </th>
            <th>
                <font size="2">PIHAK YANG MENGALIHKAN</font>
            </th>
            <th>
                <font size="2">PIHAK YANG MENERIMA</font>
            </th>
            <th rowspan="2">
                <font size="2">JENIS DAN NOMOR HAK</font>
            </th>
            <th rowspan="2">
                <font size="2">LETAK TANAK DAN BANGUNAN</font>
            </th>
            <th>
                <font size="2">TNH</font>
            </th>
            <th>
                <font size="2">
                    <BGN /font>
            </th>
            <th rowspan="2">
                <font size="2">HARGA TRANSAKSI PEROLEHAN PENGALIHAN HAK(Rp)</font>
            </th>
            <th>
                <font size="2">NOP/TAHUN</font>
            </th>
            <th>
                <font size="2">NJOP/(Rp)</font>
            </th>
            <th>
                <font size="2">TANGGAL</font>
            </th>
            <th>
                <font size="2">(Rp)</font>
            </th>
            <th>
                <font size="2">TANGGAL</font>
            </th>
            <th>
                <font size="2">(Rp)</font>
            </th>
            <th rowspan="2">
                <font size="2">KETERANGAN</font>
            </th>
        </tr>
        <tr align="center">
            <th colspan="2">
                <font size="2">AKTA</font>
            </th>
            <th align="center" colspan="2">
                <font size="2">NAMA, ALAMAT DAN NPWP
            </th>
            <th colspan="2">
                <font size="2">LUAS (M2)</font>
            </th>
            <th colspan="2">
                <font size="2">SPPT PBB</font>
            </th>
            <th colspan="2">
                <font size="2">SSP</font>
            </th>
            <th colspan="2">
                <font size="2">SBB</font>
            </th>


        </tr>

        <tr>
            <td align="center">1</td>
            <td align="center">2</td>
            <td align="center">3</td>
            <td align="center">4</td>
            <td align="center">5</td>
            <td align="center">6</td>
            <td align="center">7</td>
            <td align="center">8</td>
            <td align="center">9</td>
            <td align="center">10</td>
            <td align="center">11</td>
            <td align="center">12</td>
            <td align="center">13</td>
            <td align="center">14</td>
            <td align="center">15</td>
            <td align="center">16</td>
            <td align="center">17</td>
            <td align="center">18</td>

        </tr>
        <tbody>
            {% for dataakta in buatakta %}
            <tr>
                <td align="center">{{ forloop.counter }}</td>
                <td>{{ dataakta.nomor_akta }}</td>
                <td>{{ dataakta.tgl_akta }}</td>
                <td>{{ dataakta.jenis }}</td>
                <td>{{ dataakta.no_transaksi.nama_pertama }}</td>
                <td>{{ dataakta.no_transaksi.nik_kedua }}</td>
                <td>{{ dataakta.nomor_hak }}</td>
                <td>{{ dataakta.almt_aset }}</td>
                <td>{{ dataakta.luas_tanah }}</td>
                <td>{{ dataakta.luas_bgn }}</td>
                <td>{{ dataakta.harga_pengalihan }}</td>
                <td>{{ dataakta.nop }}</td>
                <td>{{ dataakta.njop }}</td>
                <td>{{ dataakta.tgl_ssp }}</td>
                <td>{{ dataakta.harga_ssp }}</td>
                <td>{{ dataakta.tgl_sbb }}</td>
                <td>{{ dataakta.harga_sbb }}</td>
                <td>{{ dataakta.keterangan }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <br>
    <table>
        <tr>
            <th>
                <table>
                    <tr>
                        <th align="left" colspan="2">
                            <font size="4"> Jumlah Rekapitulasi Akta PPAT Bulan Januari 2019</font>
                        </th>
                    </tr>
                    <tr>
                        <th align="left" colspan="2">
                            <font size="4"> Akta Jual Beli </font>
                        </th>
                        <th align="left">
                            <font size="4"> : 12 Akta</font>
                        </th>
                    </tr>
                    <tr>
                        <th align="left" colspan="2">
                            <font size="4">Akta Pemberian Hak Tanggungan </font>
                        </th>
                        <th align="left">
                            <font size="4">: 4 Akta</font>
                        </th>
                    </tr>
                    <tr>
                        <th align="left" colspan="2">
                            <font size="4"> Akta Hibah</font>
                        </th>
                        <th align="left">
                            <font size="4">: 4 Akta</font>
                        </th>
                    </tr>
                    <tr>
                        <th align="left" colspan="2">
                            <font size="4">Akta Pembagian Hak Bersama</font>
                        </th>
                        <th align="left">
                            <font size="4">: 4 Akta</font>
                        </th>
                    </tr>
                    <tr>
                        <th align="left" colspan="2">
                            <font size="4"> Surat Kuasa Membebankan Hak Tanggungan</font>
                        </th>
                        <th align="left">
                            <font size="4">: 4 Akta</font>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <hr>
                        </th>
                    </tr>
                    <tr>
                        <th align="center" colspan="2">
                            <font size="4"><b> JUMLAH AKTA</b></font>
                        </th>
                        <th align="left">
                            <font size="4">: 20 Akta</font>
                        </th>
                    </tr>

                </table>
            </th>

            <th>
                <table>
                    <table>
                        <tr>
                            <th align="center">
                                <font size="4">Probolinggo, 31 Januari 2019</font>
                            </th>
                        </tr>
                        <tr>
                            <th align="center">
                                <font size="4">Pejabat Pembuat Akta Tanah </font>
                            </th>
                        </tr>
                        <tr>
                            <th><br></th>
                        </tr>
                        <tr>
                            <th><br></th>
                        </tr>
                        <tr>
                            <th><br></th>
                        </tr>
                        <tr>
                            <th align="center">
                                <font size="4"><b>YOAN BUDIYANTO, S.H.,M.Kn. </b></font>
                            </th>
                        </tr>

                    </table>
                </table>
            </th>


    </table>

</body>

</html>